<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="Animal Quiz">
  <meta name="Ethan and co." content="yes">

  <link rel="stylesheet" href="public/styles.css?v=1.0">

</head>

<body>

  {{> header}}
    
  {{{ body }}}

  {{> footer}}

    

</body>


</html>