<h2 class = "nametitle"
> Please enter your name. </h2>

<form class="name-form" action="/name" method="POST">
    <input class = 'name-form' type="text" name="name" value="Name here..."></input>
    <input class = 'sub-button' type="submit">
</form>