<h2> Welcome to the second view. </h2>

<form action="/quiz/answer/1" method="POST">
    <input type="submit" value="blobfish">
</form>

<form action="/quiz/answer/2" method="POST">
    <input type="submit" value="grouse">
</form>

<form action="/quiz/answer/3" method="POST">
    <input type="submit" value="fox">
</form>

<form action="/quiz/answer/4" method="POST">
    <input type="submit" value="axotl">
</form>

