body {
    padding: 3pc 15pc;
    background: linear-gradient(to right, #f35588, #FFBBB4);
    color: rgb(0, 0, 90);
    font-family: 'Arvo', serif;
}


.buttonclass {
    cursor: pointer;
    font-size: 2.5pc;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    width: 60pc;
    text-align: left;
  
}

.buttonclass:hover {
    background: rgba(255, 255, 255, .90);
  }

  .footer {
    position: fixed;
    bottom: 2pc;
    font-family: 'Arvo', serif;
    font-size: 3pc;
}

.nametitle {
    font-size: 5pc;
}

.name-form {
    font-size: 3pc;
}

.sub-button {
    font-size: 3pc;
}

.question {
    font-size: 5pc;
}

.blurbtitle {
    font-size: 5pc;
}

.image {
    width: 35pc;
    padding: 0pc 10pc 0pc 0pc;
}
.blurb {
    width: 30pc;
}

.blurbspace {
    display: inline-flex;
}
.header {
    font-size: 3pc;
}